.table th {
    padding-left: 5px; /* Adiciona espaço à esquerda */
    padding-right: 10px; /* Adiciona espaço à direita */
    width: 50%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #000000cf;
}
th {
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
}
tr:nth-child(even) {
    background-color: #ffffff;
}
tr:hover {
    background-color: #f3eeee;
}
tr.clickable-row {
    cursor: pointer;
}
tr:first-child {
    background-color: rgb(51, 56, 195); /* Change this to your desired color */
}
.codigo-col {
    width: 8%;  /* Adjust the percentage as needed */
    text-align: center;
}
.numero-serie-col {
    width: 5%;
    text-align: center;
}
.data-inicio-col {
    width: 15%;
    text-align: center;
}
.data-fim-col {
    width: 15%;
    text-align: center;
}
.etapa-col {
    width: 8%;
    text-align: center;
}
.status-col {
    width: 8%;
    text-align: center;
}
.integracao-col {
    width: 15%;
    text-align: center;
}
.runin-col {
    width: 15%;
    text-align: center;
}
.liberacao-col {
    width: 15%;
    text-align: center;
}

.liberadas{
    width:10%;
    float: right;
}
.liberadas h1{
    color: #4CAF50;
    font-family: 'sans-serif';
    font-size: 24px; /* ou 1.5em, ou 150% */
    font-style: bold;
    text-align: center;
}
.liberadas p{
    color: #4CAF50;
    font-size: 100px;
    font-style: bold;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    animation: piscar 1s infinite; /* Animação que se repete indefinidamente */
}
@keyframes piscar {
    80%, 100% { opacity: 1; } /* Aparecendo */
    50% { opacity: 0; } /* Desaparecendo no meio */
}
/* Div Maquinas em Integração*/
.emintegracao{
    width:12%;
    float: right;
}
.emintegracao h2{
    color: #ff0000;
    font-family: 'sans-serif';
    font-size: 24px; /* ou 1.5em, ou 150% */
    font-style: bold;
    text-align: center;
}
.emintegracao p{
    color: #ff0000;
    font-size: 80px;
    font-style: bold;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
}
/* Div Maquinas em Runin*/
.emrunin{
    width:12%;
    float: right;
}
.emrunin h2{
    color: #ffb700;
    font-family: 'sans-serif';
    font-size: 24px; /* ou 1.5em, ou 150% */
    font-style: bold;
    text-align: center;
}
.emrunin p{
    color: #ffb700;
    font-size: 80px;
    font-style: bold;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
}
/* Div Maquinas em Liberação*/
.emliberacao{
    width:12%;
    float: right;
}
.emliberacao h2{
    color: #0022ff;
    font-family: 'sans-serif';
    font-size: 24px; /* ou 1.5em, ou 150% */
    font-style: bold;
    text-align: center;
}
.emliberacao p{
    color: #0022ff;
    font-size: 80px;
    font-style: bold;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
}