<!-- outra_pagina.html -->
{% extends 'base.html' %}

{% block title %}Usuários{% endblock %}

{% block content %}



<div class="container">
    <div class="container">
        <h1 style="text-align:center"><b>NOVO USUÁRIO </b></h1>
      </div>
    <div class="container">
        <div class="btn-group" role="group" aria-label="Basic example">
            <a type="button" class="btn btn-secondary" href="{% url 'usuarios' %}">Voltar</a>
          </div>
    </div>


    <div>
        <form action="{% url 'usuarios.insert' %}" method="POST">{% csrf_token %}
            <br>
            <br>
            <label for="exampleInputPassword1">Matricula</label><br>
            <input type="number" name="matricula", placeholder="Digite sua matricula">
            <br>
            <br>
            <label for="exampleInputPassword1">Nome</label><br>
            <input type="text" name="nome" placeholder="Digite seu nome">
            <br>
            <br>
            <label for="exampleInputPassword1">Senha</label><br>
            <input type="password" name="password", placeholder="Digite a senha">
            <br>
            <br>
            <label for="exampleInputPassword1">Acesso</label><br>
            <select name="acesso" class="form-control">
                {% for acess in acesso %}
                <option value="{{acess.cd_acesso}}">{{acess.ds_acesso}}</option>
                {% endfor %}
            </select>
            <br>
            <br>
            <label for="exampleInputPassword1">Ativo</label><br>
            <select name="ativo" class="form-control">
                <option value="S">Ativo</option>
                <option value="N">Não Ativo</option>
            </select>
            <br>
            <br>
            <input type="submit" value="Salvar">

        </form>
    </div>
</div>

{% endblock %}
