.table th {
    padding-left: 10px; /* Adiciona espaço à esquerda */
    padding-right: 50px; /* Adiciona espaço à direita */
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
}
th {
    background-color: #4CAF50;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #ddd;
}
tr.clickable-row {
    cursor: pointer;
}
tr:first-child {
    background-color: rgb(51, 56, 195); /* Change this to your desired color */
}
.codigo-col {
    width: 8%;  /* Adjust the percentage as needed */
}
.numero-serie-col {
    width: 5%;
}
.etapa-col {
    width: 15%;
}
.teste-col {
    width: 15%;
}
.local-defeito-col {
    width: 5%;
}
.defeito-col {
    width: 15%;
}
.observacao-col {
    width: 15%;
}
